body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:390px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u760 {
  position:fixed;
  left:0px;
  top:58px;
  width:390px;
  height:699px;
  visibility:hidden;
}
#u760_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:699px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u760_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u761_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:699px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u761 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:699px;
  display:flex;
  opacity:0.66;
  transition:none;
  transform-origin:50% 50%;
}
#u761 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u761_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u762 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:254px;
  height:320px;
  transition:none;
}
#u762_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u763 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:20px;
  transition:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#003578;
}
#u764_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u764 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:131px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u764 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u764_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u765 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:208px;
  height:20px;
  transition:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#003578;
}
#u766 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
  display:flex;
  transition:none;
}
#u766 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u766_img.selected {
}
#u766.selected {
}
#u766_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u767_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u767 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:186px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u767 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u767_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u765_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u768 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:207px;
  height:20px;
  transition:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#555555;
}
#u769_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u769 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:185px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u769 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u769_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u770 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:214px;
  height:20px;
  transition:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#555555;
}
#u771_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u771 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:192px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u771 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u771_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:132px;
  height:20px;
  transition:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#555555;
}
#u773_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u773 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:110px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u773 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u773_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u774 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:80px;
  width:218px;
  height:20px;
  transition:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#555555;
}
#u775_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u775 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:196px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u775 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u775_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u776 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:100px;
  width:121px;
  height:20px;
  transition:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#555555;
}
#u777_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u777 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:99px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u777 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u777_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u778 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:120px;
  width:210px;
  height:20px;
  transition:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#555555;
}
#u779_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u779 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:188px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u779 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u779_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u780 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:166px;
  height:20px;
  transition:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#003578;
}
#u781 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
  display:flex;
  transition:none;
}
#u781 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u781_img.selected {
}
#u781.selected {
}
#u781_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u782_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u782 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:144px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u782 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u782_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u780_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u783 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:216px;
  height:20px;
  transition:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#555555;
}
#u784_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:194px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u784 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u784_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:196px;
  height:20px;
  transition:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#555555;
}
#u786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:174px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u786 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u786_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:220px;
  width:122px;
  height:20px;
  transition:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#003578;
}
#u788_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u788 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:100px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u788 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u788_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:117px;
  height:20px;
  transition:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#003578;
}
#u790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:95px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u790 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u790_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u791 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:260px;
  width:71px;
  height:20px;
  transition:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#003578;
}
#u792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u792 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:49px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u792 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u792_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u793 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:254px;
  height:20px;
  transition:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#003578;
}
#u794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u794 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:232px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u794 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u794_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u795 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:29px;
  height:20px;
  transition:none;
}
#u796_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u796 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:7px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u796 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u796_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u797 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1052px;
  width:390px;
  height:87px;
}
#u797_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:87px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u797_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u798_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:87px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u798 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:87px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u798 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u798_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u799_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:center;
}
#u799 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:12px;
  width:366px;
  height:65px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:center;
}
#u799 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u799_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u800 {
  position:fixed;
  left:50%;
  margin-left:-195px;
  top:0px;
  width:390px;
  height:58px;
}
#u800_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:58px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u800_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u801_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:58px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u801 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:58px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u801 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u801_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u802 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:3px;
  width:52px;
  height:52px;
  display:flex;
  transition:none;
}
#u802 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u802_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u803 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:7px;
  width:44px;
  height:44px;
  display:flex;
  transition:none;
}
#u803 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u803_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:7px;
  width:44px;
  height:44px;
  display:flex;
  transition:none;
}
#u804 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u804_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u805_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Montserrat Medium", "Montserrat", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:70px;
  width:219px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Montserrat Medium", "Montserrat", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u805 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u805_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:162px;
  width:106px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u806 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u806_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u807_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:99px;
  width:262px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u807 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u807_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u808_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u808 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:120px;
  width:262px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u808 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u808_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u809_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:207px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.34901960784313724));
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.34901960784313724) inset;
  transition:none;
}
#u809 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:190px;
  width:360px;
  height:207px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u809 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u809_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u810_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u810 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:257px;
  width:300px;
  height:170px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u810 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u810_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u811 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:205px;
  width:340px;
  height:177px;
  display:flex;
  transition:none;
}
#u811 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-3px;
  width:350px;
  height:187px;
}
#u811_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u812 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:458px;
  width:360px;
  height:64px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u812 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u812_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u813_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 255, 0.9921568627450981);
}
#u813 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:430px;
  width:89px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 255, 0.9921568627450981);
}
#u813 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u813_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u814_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 255, 0.9921568627450981);
}
#u814 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:750px;
  width:78px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 255, 0.9921568627450981);
}
#u814 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u814_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u815_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u815 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:778px;
  width:360px;
  height:80px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u815 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u815_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u816_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 255, 0.9921568627450981);
}
#u816 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:868px;
  width:107px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 255, 0.9921568627450981);
}
#u816 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u816_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u817 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:896px;
  width:360px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u817 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u817_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:207px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.34901960784313724));
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.34901960784313724) inset;
  transition:none;
}
#u818 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:533px;
  width:360px;
  height:207px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u818 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u818_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u819 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:548px;
  width:340px;
  height:177px;
  display:flex;
  transition:none;
}
#u819 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-3px;
  width:350px;
  height:187px;
}
#u819_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u820_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:13px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-family:"Montserrat Medium", "Montserrat", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#0000FF;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:976px;
  width:254px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Montserrat Medium", "Montserrat", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#0000FF;
}
#u820 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u820_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:rgba(3, 0, 160, 0.2);
}
#u821 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:58px;
  width:282px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:rgba(3, 0, 160, 0.2);
}
#u821 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u821_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u760.a {
  position:fixed;
  left:0px;
  top:58px;
  width:1200px;
  height:397px;
  overflow:hidden;
}
#u761.a {
}
#u761_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:699px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u761.a {
}
#u761_text.a {
}
#u761 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u762.a {
}
#u760_state0.a {
  width:1200px;
  height:397px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u797.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1015px;
  width:1200px;
  height:87px;
}
#u798.a {
  width:1200px;
}
#u798_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:87px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u798.a {
  width:1200px;
}
#u798_text.a {
}
#u798 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u799.a {
  left:417px;
}
#u799_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:center;
}
#u799.a {
  left:417px;
}
#u799_text.a {
}
#u799 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u797_state0.a {
  width:1200px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u800.a {
  position:fixed;
  left:50%;
  margin-left:-600px;
  top:0px;
  width:1200px;
  height:58px;
  overflow:hidden;
}
#u801.a {
  width:1200px;
}
#u801_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:58px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u801.a {
  width:1200px;
}
#u801_text.a {
}
#u801 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u802.a {
  left:574px;
  top:5px;
}
#u802_img.a {
}
#u802_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u802.a {
  left:574px;
  top:5px;
}
#u802_text.a {
}
#u802 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u803.a {
}
#u803_img.a {
}
#u803_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u803.a {
}
#u803_text.a {
}
#u803 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u804.a {
  left:1147px;
}
#u804_img.a {
}
#u804_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u804.a {
  left:1147px;
}
#u804_text.a {
}
#u804 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u800_state0.a {
  width:1200px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u805.a {
  width:328px;
  height:37px;
}
#u805_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Montserrat Medium", "Montserrat", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u805.a {
  width:328px;
  height:37px;
}
#u805_text.a {
}
#u805 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u806.a {
  top:170px;
}
#u806_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u806.a {
  top:170px;
}
#u806_text.a {
}
#u806 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u807.a {
  top:107px;
}
#u807_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u807.a {
  top:107px;
}
#u807_text.a {
}
#u807 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u808.a {
  top:128px;
}
#u808_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u808.a {
  top:128px;
}
#u808_text.a {
}
#u808 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u809.a {
  left:615px;
  top:230px;
  width:532px;
  height:306px;
}
#u809_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:306px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.34901960784313724));
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.34901960784313724) inset;
  transition:none;
}
#u809.a {
  left:615px;
  top:230px;
  width:532px;
  height:306px;
}
#u809_text.a {
}
#u809 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u810.a {
  left:0px;
  top:197px;
  width:1200px;
  height:718px;
  opacity:0.16;
}
#u810_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:718px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u810.a {
  left:0px;
  top:197px;
  width:1200px;
  height:718px;
  opacity:0.16;
}
#u810_text.a {
}
#u810 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u811.a {
  left:630px;
  top:252px;
  width:503px;
  height:262px;
}
#u811_img.a {
  width:513px;
  height:272px;
}
#u811_div.a {
  position:absolute;
  left:0px;
  top:-3px;
  width:513px;
  height:272px;
}
#u811.a {
  left:630px;
  top:252px;
  width:503px;
  height:262px;
}
#u811_text.a {
}
#u811 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u812.a {
  left:146px;
  top:366px;
  height:76px;
}
#u812_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u812.a {
  left:146px;
  top:366px;
  height:76px;
}
#u812_text.a {
}
#u812 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u813.a {
  left:267px;
  top:325px;
  width:118px;
  height:29px;
}
#u813_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 255, 0.9921568627450981);
}
#u813.a {
  left:267px;
  top:325px;
  width:118px;
  height:29px;
}
#u813_text.a {
}
#u813 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u814.a {
  left:829px;
  top:556px;
  width:104px;
  height:29px;
}
#u814_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 255, 0.9921568627450981);
}
#u814.a {
  left:829px;
  top:556px;
  width:104px;
  height:29px;
}
#u814_text.a {
}
#u814 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u815.a {
  left:701px;
  top:592px;
  height:133px;
}
#u815_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:133px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u815.a {
  left:701px;
  top:592px;
  height:133px;
}
#u815_text.a {
}
#u815 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u816.a {
  left:810px;
  top:738px;
  width:143px;
  height:29px;
}
#u816_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 255, 0.9921568627450981);
}
#u816.a {
  left:810px;
  top:738px;
  width:143px;
  height:29px;
}
#u816_text.a {
}
#u816 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u817.a {
  left:701px;
  top:780px;
  height:38px;
}
#u817_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u817.a {
  left:701px;
  top:780px;
  height:38px;
}
#u817_text.a {
}
#u817 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u818.a {
  left:60px;
  top:550px;
  width:532px;
  height:306px;
}
#u818_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:306px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.34901960784313724));
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.34901960784313724) inset;
  transition:none;
}
#u818.a {
  left:60px;
  top:550px;
  width:532px;
  height:306px;
}
#u818_text.a {
}
#u818 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u819.a {
  left:75px;
  top:572px;
  width:502px;
  height:262px;
}
#u819_img.a {
  width:512px;
  height:272px;
}
#u819_div.a {
  position:absolute;
  left:0px;
  top:-3px;
  width:512px;
  height:272px;
}
#u819.a {
  left:75px;
  top:572px;
  width:502px;
  height:262px;
}
#u819_text.a {
}
#u819 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u820.a {
  left:238px;
  top:946px;
  width:724px;
}
#u820_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:724px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:13px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-family:"Montserrat Medium", "Montserrat", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#0000FF;
}
#u820.a {
  left:238px;
  top:946px;
  width:724px;
}
#u820_text.a {
}
#u820 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u821.a {
}
#u821_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:rgba(3, 0, 160, 0.2);
}
#u821.a {
}
#u821_text.a {
}
#u821 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
