body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:390px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u822 {
  position:fixed;
  left:0px;
  top:58px;
  width:390px;
  height:699px;
  visibility:hidden;
}
#u822_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:699px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u822_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u823_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:699px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:699px;
  display:flex;
  opacity:0.66;
  transition:none;
  transform-origin:50% 50%;
}
#u823 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u823_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:254px;
  height:320px;
  transition:none;
}
#u824_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:20px;
  transition:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#003578;
}
#u826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u826 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:131px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u826 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u826_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:208px;
  height:20px;
  transition:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#003578;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
  display:flex;
  transition:none;
}
#u828 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u828_img.selected {
}
#u828.selected {
}
#u828_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:186px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u829 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u829_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u827_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:207px;
  height:20px;
  transition:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#555555;
}
#u831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:185px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u831 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u831_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:214px;
  height:20px;
  transition:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#555555;
}
#u833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:192px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u833 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u833_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:132px;
  height:20px;
  transition:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#555555;
}
#u835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:110px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u835 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u835_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:80px;
  width:218px;
  height:20px;
  transition:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#555555;
}
#u837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:196px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u837 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u837_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:100px;
  width:121px;
  height:20px;
  transition:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#555555;
}
#u839_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:99px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u839 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u839_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:120px;
  width:210px;
  height:20px;
  transition:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#555555;
}
#u841_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:188px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u841 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u841_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:166px;
  height:20px;
  transition:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#003578;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
  display:flex;
  transition:none;
}
#u843 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u843_img.selected {
}
#u843.selected {
}
#u843_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:144px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u844 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u844_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u842_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:216px;
  height:20px;
  transition:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#555555;
}
#u846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:194px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u846 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u846_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:196px;
  height:20px;
  transition:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#555555;
}
#u848_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:174px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u848 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u848_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:220px;
  width:122px;
  height:20px;
  transition:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#003578;
}
#u850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u850 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:100px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u850 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u850_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u851 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:117px;
  height:20px;
  transition:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#003578;
}
#u852_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u852 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:95px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u852 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u852_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u853 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:260px;
  width:71px;
  height:20px;
  transition:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#003578;
}
#u854_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u854 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:49px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u854 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u854_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u855 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:254px;
  height:20px;
  transition:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#003578;
}
#u856_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u856 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:232px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u856 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u856_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u857 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:29px;
  height:20px;
  transition:none;
}
#u858_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u858 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:7px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u858 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u858_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u859 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1052px;
  width:390px;
  height:87px;
}
#u859_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:87px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u859_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u860_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:87px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u860 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:87px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u860 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u860_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u861_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:center;
}
#u861 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:12px;
  width:366px;
  height:65px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:center;
}
#u861 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u861_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u862_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u862 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:257px;
  width:300px;
  height:170px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u862 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u862_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u863 {
  position:fixed;
  left:50%;
  margin-left:-195px;
  top:0px;
  width:390px;
  height:58px;
}
#u863_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:58px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u863_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u864_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:58px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u864 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:58px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u864 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u864_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:3px;
  width:52px;
  height:52px;
  display:flex;
  transition:none;
}
#u865 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u865_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u866 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:7px;
  width:44px;
  height:44px;
  display:flex;
  transition:none;
}
#u866 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u866_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:7px;
  width:44px;
  height:44px;
  display:flex;
  transition:none;
}
#u867 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u867_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u868_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Montserrat Medium", "Montserrat", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:70px;
  width:231px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Montserrat Medium", "Montserrat", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u868 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u868_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u869_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:162px;
  width:119px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u869 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u869_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u870_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:99px;
  width:270px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u870 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u870_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u871_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:120px;
  width:262px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u871 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u871_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:207px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.34901960784313724));
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.34901960784313724) inset;
  transition:none;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:190px;
  width:360px;
  height:207px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u872 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u872_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:205px;
  width:340px;
  height:177px;
  display:flex;
  transition:none;
}
#u873 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-3px;
  width:350px;
  height:187px;
}
#u873_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:458px;
  width:360px;
  height:64px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u874 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u874_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 255, 0.9921568627450981);
}
#u875 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:430px;
  width:89px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 255, 0.9921568627450981);
}
#u875 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u875_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 255, 0.9921568627450981);
}
#u876 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:750px;
  width:78px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 255, 0.9921568627450981);
}
#u876 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u876_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u877_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:778px;
  width:360px;
  height:80px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u877 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u877_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u878_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 255, 0.9921568627450981);
}
#u878 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:868px;
  width:93px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 255, 0.9921568627450981);
}
#u878 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u878_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:896px;
  width:360px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u879 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u879_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u880_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:207px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.34901960784313724));
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.34901960784313724) inset;
  transition:none;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:533px;
  width:360px;
  height:207px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u880 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u880_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:548px;
  width:340px;
  height:177px;
  display:flex;
  transition:none;
}
#u881 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-3px;
  width:350px;
  height:187px;
}
#u881_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u882_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:13px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-family:"Montserrat Medium", "Montserrat", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#0000FF;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:976px;
  width:254px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Montserrat Medium", "Montserrat", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#0000FF;
}
#u882 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u882_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u883_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:rgba(0, 53, 120, 0.2);
}
#u883 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:58px;
  width:286px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:rgba(0, 53, 120, 0.2);
}
#u883 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u883_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u822.a {
  position:fixed;
  left:0px;
  top:58px;
  width:1200px;
  height:397px;
  overflow:hidden;
}
#u823.a {
}
#u823_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:699px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u823.a {
}
#u823_text.a {
}
#u823 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u824.a {
}
#u822_state0.a {
  width:1200px;
  height:397px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u859.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1052px;
  width:1200px;
  height:87px;
}
#u860.a {
  width:1200px;
}
#u860_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:87px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u860.a {
  width:1200px;
}
#u860_text.a {
}
#u860 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u861.a {
  left:417px;
}
#u861_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:center;
}
#u861.a {
  left:417px;
}
#u861_text.a {
}
#u861 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u859_state0.a {
  width:1200px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u862.a {
  left:0px;
  top:234px;
  width:1200px;
  height:718px;
  opacity:0.16;
}
#u862_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:718px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u862.a {
  left:0px;
  top:234px;
  width:1200px;
  height:718px;
  opacity:0.16;
}
#u862_text.a {
}
#u862 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u863.a {
  position:fixed;
  left:50%;
  margin-left:-600px;
  top:0px;
  width:1200px;
  height:58px;
  overflow:hidden;
}
#u864.a {
  width:1200px;
}
#u864_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:58px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u864.a {
  width:1200px;
}
#u864_text.a {
}
#u864 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u865.a {
  left:574px;
  top:5px;
}
#u865_img.a {
}
#u865_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u865.a {
  left:574px;
  top:5px;
}
#u865_text.a {
}
#u865 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u866.a {
}
#u866_img.a {
}
#u866_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u866.a {
}
#u866_text.a {
}
#u866 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u867.a {
  left:1147px;
}
#u867_img.a {
}
#u867_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u867.a {
  left:1147px;
}
#u867_text.a {
}
#u867 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u863_state0.a {
  width:1200px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u868.a {
  width:346px;
  height:37px;
}
#u868_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Montserrat Medium", "Montserrat", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u868.a {
  width:346px;
  height:37px;
}
#u868_text.a {
}
#u868 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u869.a {
  top:175px;
}
#u869_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u869.a {
  top:175px;
}
#u869_text.a {
}
#u869 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u870.a {
  top:112px;
}
#u870_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u870.a {
  top:112px;
}
#u870_text.a {
}
#u870 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u871.a {
  top:133px;
}
#u871_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u871.a {
  top:133px;
}
#u871_text.a {
}
#u871 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u872.a {
  left:591px;
  top:266px;
  width:562px;
  height:323px;
}
#u872_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:562px;
  height:323px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.34901960784313724));
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.34901960784313724) inset;
  transition:none;
}
#u872.a {
  left:591px;
  top:266px;
  width:562px;
  height:323px;
}
#u872_text.a {
}
#u872 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u873.a {
  left:607px;
  top:290px;
  width:531px;
  height:276px;
}
#u873_img.a {
  width:541px;
  height:286px;
}
#u873_div.a {
  position:absolute;
  left:0px;
  top:-3px;
  width:541px;
  height:286px;
}
#u873.a {
  left:607px;
  top:290px;
  width:531px;
  height:276px;
}
#u873_text.a {
}
#u873 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u874.a {
  left:116px;
  top:395px;
  height:95px;
}
#u874_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u874.a {
  left:116px;
  top:395px;
  height:95px;
}
#u874_text.a {
}
#u874 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u875.a {
  left:230px;
  top:365px;
  width:118px;
  height:29px;
}
#u875_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 255, 0.9921568627450981);
}
#u875.a {
  left:230px;
  top:365px;
  width:118px;
  height:29px;
}
#u875_text.a {
}
#u875 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u876.a {
  left:820px;
  top:607px;
  width:104px;
  height:28px;
}
#u876_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 255, 0.9921568627450981);
}
#u876.a {
  left:820px;
  top:607px;
  width:104px;
  height:28px;
}
#u876_text.a {
}
#u876 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u877.a {
  left:692px;
  top:643px;
  height:133px;
}
#u877_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:133px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u877.a {
  left:692px;
  top:643px;
  height:133px;
}
#u877_text.a {
}
#u877 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u878.a {
  left:799px;
  top:784px;
  width:123px;
  height:29px;
}
#u878_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 255, 0.9921568627450981);
}
#u878.a {
  left:799px;
  top:784px;
  width:123px;
  height:29px;
}
#u878_text.a {
}
#u878 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u879.a {
  left:692px;
  top:821px;
  height:47px;
}
#u879_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u879.a {
  left:692px;
  top:821px;
  height:47px;
}
#u879_text.a {
}
#u879 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u880.a {
  top:584px;
  width:561px;
  height:323px;
}
#u880_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:323px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.34901960784313724));
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.34901960784313724) inset;
  transition:none;
}
#u880.a {
  top:584px;
  width:561px;
  height:323px;
}
#u880_text.a {
}
#u880 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u881.a {
  left:31px;
  top:607px;
  width:530px;
  height:276px;
}
#u881_img.a {
  width:540px;
  height:286px;
}
#u881_div.a {
  position:absolute;
  left:0px;
  top:-3px;
  width:540px;
  height:286px;
}
#u881.a {
  left:31px;
  top:607px;
  width:530px;
  height:276px;
}
#u881_text.a {
}
#u881 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u882.a {
  left:238px;
  top:982px;
  width:724px;
}
#u882_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:724px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:13px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-family:"Montserrat Medium", "Montserrat", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#0000FF;
}
#u882.a {
  left:238px;
  top:982px;
  width:724px;
}
#u882_text.a {
}
#u882 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u883.a {
}
#u883_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:rgba(0, 53, 120, 0.2);
}
#u883.a {
}
#u883_text.a {
}
#u883 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
